html {
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

body {
  background: black;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

br {
  border-bottom: 1px dashed black;
  padding: 2px;
  margin: 20px;
}
